<!-- web server config; like, for IIS-type serving/development -->
<configuration>
    <system.webServer>
        <staticContent>
            <!-- add mimetype for Markdown -->
            <mimeMap fileExtension=".md" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>